
@mixin d-flex($direction: row, $justify: space-between, $align: center , $wrap: wrap){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    flex-wrap: $wrap;
}